@model IEnumerable<DotNetAppSqlDb.Models.LadderEntry>
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Army)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmyList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Army)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmyList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
