@model IEnumerable<DotNetAppSqlDb.Models.LadderEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Ladder Campaign</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Army)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmyList)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Army)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmyList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
    </tr>
}

</table>
